@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  font-family: var(--font-manrope);
}
.offer {
  font-family: var(--font-pacifico);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-banner {
  background-image: url("../../public/arrivals/14.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-facilities {
  background-image: url("../../public/arrivals/15.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.men-collection .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}
.men-collection .swiper-pagination-bullet-active {
  width: 32px;
  border-radius: 14px;
  background: linear-gradient(120deg, #f0d11b, #ffc750);
  box-shadow: 0 0 20px 0 rgba(255, 200, 80, 0.7);
  transition: all 0.8s ease-in-out;
}

.product-details-swiper .swiper-button-next,
.swiper-button-prev {
  color: #9333ea; /* Purple color */
  font-size: 1.5rem;
}
.product-details-swiper .swiper-pagination-bullet {
  background: #e5e7eb; /* Gray */
}
.product-details-swiper .swiper-pagination-bullet-active {
  background: #9333ea; /* Purple */
}
